# Analytics
POSTHOG_API_HOST=
POSTHOG_API_KEY=
# For describing images
OPENAI_API_KEY=
# Authentication
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:4321/"
CF_PAGES_URL=""
## Google auth credentials
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
# File storage
UPLOADTHING_TOKEN=
UPLOADTHING_APP_ID=
# URL of the application
BASE_URL="http://localhost:4321/"
