# Analytics
POSTHOG_API_HOST=
POSTHOG_API_KEY=
# PostgreSQL Database
DATABASE_URL=
# For describing images
OPENAI_API_KEY=
# Authentication
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:4321/"
VERCEL_BRANCH_URL="http://localhost:4321/"
## Google auth credentials
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
# Queues
INNGEST_API_URL=
INNGEST_SIGNING_KEY=
# File storage
UPLOADTHING_TOKEN=
UPLOADTHING_APP_ID=
# URL of the application
BASE_URL="http://localhost:4321/"
