/* Page transition animations with Swup */
html.is-changing .transition-swup-fade {
    @apply transition-all duration-200
}
html.is-animating .transition-swup-fade {
    @apply opacity-0 translate-y-4
}

/* Fade-in animations for components */
@keyframes fade-in-up {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-out-down {
    from {
        transform: translateY(0);
        opacity: 1;
        display: block;
    }
    to {
        transform: translateY(2rem);
        opacity: 0;
        display: none;
    }
}

@keyframes grid-columns-get-wider {
    from {
        grid-template-columns: 17.5rem auto;
    }
    to {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@keyframes grid-columns-get-narrower {
    from {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    to {
        grid-template-columns: 17.5rem auto;
    }
}

/* Main components */
.onload-animation {
    opacity: 0;
    animation: 300ms fade-in-up;
    animation-fill-mode: forwards;
}
#navbar {
    animation-delay: 0ms
}
#sidebar {
    animation-delay: 250ms
}
.sidebar-hide {
    opacity: 1;
    animation: 200ms fade-out-down;
    animation-fill-mode: forwards;
    animation-delay: 0ms !important;
}
#swup-container {
    outline: none;
}
#content-wrapper {
    animation-delay: var(--content-delay);
}
.footer {
    animation-delay: 250ms;
}
#banner-credit {
    animation-delay: 400ms;
}
.main-grid-widen {
    grid-template-columns: 17.5rem auto;
    animation: 200ms grid-columns-get-wider;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}
.main-grid-narrow {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    animation: 200ms grid-columns-get-narrower;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

/* Post content */
#post-container :nth-child(1) { animation-delay: calc(var(--content-delay) + 0ms) }
#post-container :nth-child(2) { animation-delay: calc(var(--content-delay) + 50ms) }
#post-container :nth-child(3) { animation-delay: calc(var(--content-delay) + 100ms) }
#post-container :nth-child(4) { animation-delay: calc(var(--content-delay) + 175ms) }
#post-container :nth-child(5) { animation-delay: calc(var(--content-delay) + 250ms) }
#post-container :nth-child(6) { animation-delay: calc(var(--content-delay) + 325ms) }

