---
interface Props {
  dot?: boolean;
  href?: string;
  label?: string;
}
const { dot, href, label }: Props = Astro.props;
---

<a aria-label={label} class="btn-regular h-8 text-sm px-3 rounded-lg" href={href}>
  {dot && <div class="h-1 w-1 bg-[var(--btn-content)] dark:bg-[var(--card-bg)] transition rounded-md mr-2" />}
  <slot />
</a>
